<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>자유 게시판글 </title>
  <link rel="stylesheet" href = "http://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>
<body>
<div th:include="header/header.html" th:remove="tag"></div>
<div class="p-5 mb-5 text-center</> bg-light">
  <h1 class="mb-3"> 자유 게시판 </h1>
</div>

<div class="container mt-5">
  <div class="row">
    <dov class="col-lg-8">
      <article>
        <!-- 블로그 글 삭제를 위한 id 추가 -->
        <input type="hidden" id="freeBoard-id" th:value="${freeBoard.id}">
        <header class="mb-4">
          <h1 class = "fw-bolder mb-1" th:text="${freeBoard.title}"></h1>
          <div class="text-muted fst-italic mb-2"
               th:text="|Posted on ${#temporals.format(freeBoard.createdDate, 'yyyy-MM-dd HH:mm')} By ${freeBoard.writerId}|"></div>
        </header>
        <section class="mb-5">
          <p class="fs-5 mb4" th:text="${freeBoard.content}"></p>
        </section>
        <th:block th:if="${freeBoard.writerId} == ${#authentication.name}">
        <button type="button" id="modify-btn"
                th:onclick="|location.href='@{/view/updateFreeBoard(id=${freeBoard.id})}'|"
                class="btn btn-primary btn-sm">수정</button>
        <button type="button" id="delete-btn" class="btn btn-secondary btn-sm">삭제</button>
        </th:block>
      </article>
    </dov>
  </div>
</div>
<script th:inline="javascript" >
  // 자바스크립트 파일자체적으로 세션값을 가져올 수 없기에 여기서 가져와
  // 사용한다.
  var loginStyle = [[${session.LoginStyle}]];
</script>
<script src="/js/freeBoard.js"></script>
<div th:include="comment/list.html" th:remove="tag"></div>
<div th:include="comment/form.html" th:remove="tag"></div>
</body>
</html>
