<head>
    <!-- oauth2 로그인 이후 이메일 정보를 사용하기 위한 작업 -->
    <script src="/js/token.js"></script>
    <script>
        window.onload=function(){
          const urlParams = new URLSearchParams(window.location.search);
          const id = urlParams.get('id');
          // 실제 이동은 여기서 진행한다.
          function success() {
            alert('로그인 성공했습니다..');
            if(id=="nonePassword")
              location.replace('/view/user/oauth2/pw');
            else
              location.replace('/view/freeBoard');
          }
          function fail() {
            alert('로그인 실패했습니다.');
            location.replace('/login');
          }
          // 해당 경로는 토큰 을 활성화 하기 위한 경로로
          // 해당 경로로 실제 이동 되지 않는다.
          if(id=="nonePassword"){
            oauth2HttpRequest('GET','/view/user/oauth2/pw',null,success,fail);
          }else{
            oauth2HttpRequest('GET','/view/freeBoard',null,success,fail);
          }
        }
    </script>
    <script src="/js/httpRequest.js"></script>
</head>
