<head>
    <!-- oauth2 로그인 이후 액세스 토큰을 로컬에 저장한다.-->
    <script src="/js/token.js"></script>
    <!-- oauth2 로그인 이후 로그인이 성공했는지 알려주며
    계정의 비밀번호 유무에 따른 결과를 보여준다.-->
    <script>
        window.onload=function(){
          const urlParams = new URLSearchParams(window.location.search);
          const isPassword = urlParams.get('isPassword');

          // 비밀번호 존재 유무에 따라 다른 url로 http 요청을 진행한다.
          if(isPassword=="true"){
            // 자유게시판 리스트 화면으로 이동
            oauth2HttpRequest('GET','/view/freeBoard',null,success,fail);
          }else{
            // 비밀번호 생성창으로 이동
            oauth2HttpRequest('GET','/view/user/oauth2/pw',null,success,fail);
          }

          /* 실제 이동은 여기서 진행한다.*/
          // 액세스 토큰을 정상적으로 획득하여 로그인이 성공하는 경우
          function success() {
            alert('로그인 성공했습니다..');
            if(id=="nonePassword")
              location.replace('/view/user/oauth2/pw');
            else
              location.replace('/view/freeBoard');
          }
          // 문제가 발생하여 액세스 토큰을 발급받지 못할 경우
          function fail() {
            alert('로그인 실패했습니다.');
            location.replace('/login');
          }
        }
    </script>
    <!-- 로컬에 저장된 액세스 토큰을 활용한 http 요청 메서드 -->
    <script src="/js/httpRequest.js"></script>
</head>
