<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <link rel="stylesheet" type="text/css" href="/css/userinfo.css">
</head>
<body>
<div th:include="header/header.html" th:remove="tag"></div>
<div class="container">
    <th:block th:if="${session.LoginStyle}!='Oauth2Login'">
        <h1>이름 수정</h1>
        <form action="미정" method="post">
            <div class="form-group">
                <label>이름:</label>
                <input type="text" class="form-control" name="nickname" th:value="${user.nickname}">
            </div>
            <button type="submit" class="btn btn-primary">수정하기</button>
        </form>
    </th:block>
    <h1>비밀번호 수정</h1>
    <div class="form-group">
        <label>사용중인 비밀번호:</label>
        <input id="oldPassword"  type="password" class="form-control">
    </div>
    <div class="form-group">
        <label>변경할 비밀번호:</label>
        <input id="newPassword" type="password" class="form-control">
    </div>
    <button id="changePW-btn" type="submit" class="btn btn-primary">수정하기</button>

    <h1>회원탈퇴</h1>
    <form action="/api/user/delete" method="post" content-type>
      <div class="form-group">
          <label>비밀번호:</label>
          <input type="password" class="form-control" name="password">
      </div>
        <button type="submit" class="btn btn-primary">탈퇴하기</button>
    </form>
</div>
<!-- 팝업창 처럼 만들기 -->
<div class="popup" id="popup">
 <h2>비밀번호 확인</h2>
 <div class="con">
     <table class="type1">
         <colgroup>
             <col style="width: 110px">
             <col>
         </colgroup>
         <tbody>
         <tr>
             <th><label for="checkPassword" >비밀번호</label> </th>
             <th><input type="password" id="checkPassword" name="user_password" placeholder="비밀번호를 입력해주세요"> </th>
         </tr>
         </tbody>
     </table>
 </div>
 <div class="conformBtn">
 <Button class="close" id="checkPassword-btn" >확인하기</Button>
 </div>
 <a href="#a" class="close">닫기</a>
</div>

<div class="popupdark" id="popupdark"></div>
</body>
<script th:inline="javascript" >
  var loginStyle = [[${session.LoginStyle}]];
</script>
<script src="/js/userinfo.js"></script>
</html>
